body {
    background:  	#073642 ;
    font-family: 'Source Code Pro', monospace;
}

html, body {
    height: 100%;
    margin: 0;
}

#main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-container > * {
    margin-bottom: auto;
}

#top-container {
    width: 100%;
}

h1 {
    color: #b58900  ;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

/* @media screen and (min-width: 601px) {
    h1 {
      font-size: 40px;
    }
  } */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

    /* Retina-specific stuff here */
    h1 {
        font-size: 66px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 50px;
    }
    #roundNumber {
        font-size: 45px;
    }
    #playerScore {
        font-size: 45px;
    }
    #computerScore {
        font-size: 45px;
    }
    #result {
        font-size: 40px !important;
    }
    #finalResult {
        font-size: 50px !important;
    }
    .buttons {
        font-size: 60px !important;
        border-radius: 30px !important;
    }
       
}


h2 {
    color: #eee8d5;
    font-size: 3em; 
    text-align: center;
    vertical-align: center;
}

h3 {
    margin: 0 auto;
    margin-bottom: 3px;
    text-align: center;
    color: #eee8d5;
}

#Rounds {
    text-align: center;
    color: #fdf6e3;
    font-size: 1.3rem;
}

#scoreBoard {
    align-items: center;
    text-align: center;
    color: #fdf6e3;
    font-size: 1.3rem;
    width: 100%;
    margin-top: 5px;
}

.scoreCounters {
   max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

#computerScore {
    width: 50%;
    float: left;
}

#playerScore {
    width: 50%;
    float: left;
}

#gameBoard {
    width: 85%;
    height: 260px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.choices {
    width: 33%;
    height: 100%;
    float: left;
}

#gameBoard > div:nth-child(2) > h2 {
    vertical-align: middle;
    line-height: 260px;
    height: 260px;
    text-align: center;
    margin: 0;
}

#playerChoice > .innerImages {
    float: right;
}

#computerChoice > .innerImages {
    float: left;
}

.innerImages {
    height: 100%;
    width: auto;
}

#selection {
    width: 100%;
    text-align: center;
}

#result {
    width: 100%;
    text-align: center;
    color: #fdf6e3;
    font-size: 1.2em;
}

#finalResult {
    width: 100%;
    text-align: center;
    color: #fdf6e3;
    font-size: 2em;
}

.btns-visibility {
    visibility: collapse;
}

.btn-container {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

.buttons {
    background-color: #b58900;
    border: 1px solid #b58900;
    color: #fdf6e3;
    padding: 14px 24px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}